<div class="left-column">
  <p>
    <%= link_to 'View Locations', locations_path %>
  </p>
  <% @locations.each do |current_location| %>
    <%= render 'locations/single_location', location: current_location %>
  <% end %>
</div>

<div class="right-column">
  <p>
    <%= link_to 'Events', events_path %>
    <h1>Events</h1>

    <% @events.each do |event| %>
      <%= render 'events/single_event', event: event %>
    <% end %>

    <p>
      <%= link_to 'New Event', new_event_path %>
    </p>
  </p>
</div>
